<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shanzhaozhen.basicrepo.mapper.RouteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.shanzhaozhen.basiccommon.domain.sys.RouteDO">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="path" property="path" />
        <result column="pid" property="pid" />
        <result column="redirect" property="redirect" />
        <result column="title" property="title" />
        <result column="icon" property="icon" />
        <result column="priority" property="priority" />
        <result column="hidden" property="hidden" />
        <result column="alwaysShow" property="alwaysShow" />
        <result column="noCache" property="noCache" />
        <result column="affix" property="affix" />
        <result column="breadcrumb" property="breadcrumb" />
        <result column="props" property="props" />
        <result column="description" property="description" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>

    <resultMap autoMapping="true" type="org.shanzhaozhen.basiccommon.dto.RouteDTO" id="RouteRoleMap">
        <id property="id" column="id"></id>
        <collection property="roles" column="id" select="org.shanzhaozhen.basicrepo.mapper.RoleMapper.getRoleByRouteId">
        </collection>
    </resultMap>

    <select id="getRouteRoleListByUserId" resultMap="RouteRoleMap">
        select distinct r1.* from sys_route r1
        <if test="userId != null">
            inner join sys_role_route srr on srr.route_id = r1.id
            inner join sys_role r2 on r2.id = srr.role_id
            inner join sys_user_role sur on sur.user_id = #{userId} and r2.id = sur.role_id
        </if>
    </select>


</mapper>
