<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shanzhaozhen.uaa.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.shanzhaozhen.uaa.pojo.entity.MenuDO">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="locale" property="locale" />
        <result column="path" property="path" />
        <result column="pid" property="pid" />
        <result column="icon" property="icon" />
        <result column="priority" property="priority" />
        <result column="hide_in_Menu" property="hideInMenu" />
        <result column="hide_children_in_menu" property="hideChildrenInMenu" />
        <result column="props" property="props" />
        <result column="description" property="description" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>

    <resultMap type="org.shanzhaozhen.uaa.pojo.dto.MenuDTO" id="MenuRoleMap">
        <id property="id" column="id"/>
        <collection property="roles" column="id" select="org.shanzhaozhen.uaa.mapper.RoleMapper.getRoleByMenuId" />
    </resultMap>

    <select id="getMenuByPId" resultType="org.shanzhaozhen.uaa.pojo.dto.MenuDTO">
        select id, name, locale, path, pid, icon, priority,
               hide_in_menu, hide_children_in_menu, props, description,
               created_by, created_date, last_modified_by, last_modified_date
        from sys_menu
        <where>
            <choose>
                <when test="pid != null and pid != ''">
                    where pid = #{pid}
                </when>
                <otherwise>
                    where pid is null
                </otherwise>
            </choose>
        </where>
        order by priority
    </select>

    <select id="getMenuByRoleId" resultType="org.shanzhaozhen.uaa.pojo.dto.MenuDTO">
        select m.id, m.name, m.locale, m.path, m.pid, m.icon, m.priority,
               m.hide_in_menu, m.hide_children_in_menu, m.props, m.description,
               m.created_by, m.created_date, m.last_modified_by, m.last_modified_date
        from sys_menu m
            inner join sys_role_menu srm on srm.role_id = #{roleId} and m.id = srm.menu_id
    </select>

    <select id="getAllMenus" resultType="org.shanzhaozhen.uaa.pojo.dto.MenuDTO">
        select id, name, locale, path, pid, icon, priority,
               hide_in_menu, hide_children_in_menu, props, description,
               created_by, created_date, last_modified_by, last_modified_date
        from sys_menu order by priority
    </select>

    <select id="getMenuRoleListByUserId" resultMap="MenuRoleMap">
        select distinct m.id, m.name, m.locale, m.path, m.pid, m.icon, m.priority, m.hide_in_Menu, m.hide_children_in_menu,
                        m.props, m.description,
                        m.created_by, m.created_date, m.last_modified_by, m.last_modified_date
        from sys_menu m
        <if test="userId != null">
            inner join sys_role_menu srm on srm.menu_id = m.id
            inner join sys_role r on r.id = srm.role_id
            inner join sys_user_role sur on sur.user_id = #{userId} and r.id = sur.role_id
        </if>
    </select>

</mapper>
