<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shanzhaozhen.uaa.mapper.ResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.shanzhaozhen.uaa.domain.PermissionDO">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="path" property="path" />
        <result column="type" property="type" />
        <result column="pid" property="pid" />
        <result column="priority" property="priority" />
        <result column="description" property="description" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>

    <resultMap autoMapping="true" type="org.shanzhaozhen.uaa.dto.PermissionDTO" id="ResourceRoleMap">
        <id property="id" column="id"></id>
        <collection property="roles" column="id" select="com.hbjs.hrsrepo.mapper.RoleMapper.getRoleByResourceId">
        </collection>
    </resultMap>

    <select id="getResourceListByType" resultType="org.shanzhaozhen.uaa.dto.PermissionDTO">
        select re.id, re.name, re.path, re.type, re.pid, re.priority, re.description,
            re.created_by, re.created_date, re.last_modified_by, re.last_modified_date
        from sys_resource re
        <if test="type != null">
            where re.type = #{type}
        </if>
    </select>

    <select id="getResourceRoleListByTypeAndUserId" resultMap="ResourceRoleMap">
        select re.id, re.name, re.path, re.type, re.pid, re.priority, re.description,
            re.created_by, re.created_date, re.last_modified_by, re.last_modified_date
        from sys_resource re
        <if test="userId != null">
            inner join sys_role_resource srr on srr.resource_id = re.id
            inner join sys_role ro on ro.id = srr.role_id
            inner join sys_user_role sur on sur.user_id = #{userId} and ro.id = sur.role_id
        </if>
        <if test="type != null">
            where re.type = #{type}
        </if>
        group by re.id
    </select>

</mapper>
