<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shanzhaozhen.uaa.mapper.RolePermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.shanzhaozhen.uaa.pojo.entity.RolePermissionDO">
        <id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="permission_id" property="permissionId" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>

    <delete id="deleteByRoleId">
        delete from sys_role_permission where role_id = #{roleId}
    </delete>

</mapper>
