<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shanzhaozhen.uaa.mapper.UserMapper">

    <!-- 用户查询结果列 -->
    <sql id="User_Columns">
        id, username, password, dep_id, account_non_expired, account_non_locked, credentials_non_expired, enabled,
        name, nickname, sex, birthday, avatar, email, phone_number, address_code, detailed_address, introduction,
        created_by, created_date, last_modified_by, last_modified_date
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.shanzhaozhen.uaa.pojo.entity.UserDO">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="dep_id" property="depId" />
        <result column="account_non_expired" property="accountNonExpired" />
        <result column="account_non_locked" property="accountNonLocked" />
        <result column="credentials_non_expired" property="credentialsNonExpired" />
        <result column="enabled" property="enabled" />
        <!--<result column="name" property="name" />
        <result column="nickname" property="nickname" />
        <result column="sex" property="sex" />
        <result column="birthday" property="birthday" />
        <result column="avatar" property="avatar" />
        <result column="email" property="email" />
        <result column="phone_number" property="phoneNumber" />
        <result column="address_code" property="addressCode" />
        <result column="detailed_address" property="detailedAddress" />
        <result column="introduction" property="introduction" />-->
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>

    <resultMap autoMapping="true" type="org.shanzhaozhen.uaa.pojo.dto.UserDTO" id="UserRoleMap">
        <id property="id" column="id"></id>
        <collection property="roles" column="id" select="org.shanzhaozhen.uaa.mapper.RoleMapper.getRoleListByUserId">
        </collection>
    </resultMap>

    <resultMap autoMapping="true" type="org.shanzhaozhen.uaa.pojo.dto.JWTUser" id="JWTUserMap">
        <id property="id" column="id"></id>
        <collection property="authorities" column="id" select="org.shanzhaozhen.uaa.mapper.RoleMapper.getAuthoritiesByUserId" />
    </resultMap>

    <select id="selectUserByUsername" resultType="org.shanzhaozhen.uaa.pojo.entity.UserDO">
        select id, username, password, dep_id, account_non_expired, account_non_locked, credentials_non_expired, enabled,
               name, nickname, sex, birthday, avatar, email, phone_number, address_code, detailed_address, introduction
        from sys_user where username = #{username}
    </select>

    <select id="countByUsername" resultType="java.lang.Integer">
        select count(id) from sys_user where username = #{username}
    </select>

    <select id="getUserById" resultType="org.shanzhaozhen.uaa.pojo.dto.UserDTO">
        select id, username, password, dep_id, account_non_expired, account_non_locked, credentials_non_expired, enabled,
               name, nickname, sex, birthday, avatar, email, phone_number, address_code, detailed_address, introduction
        from sys_user where id = #{id}
    </select>

    <select id="getUserAndRolesByUserId" resultMap="UserRoleMap">
        select id, username, password, dep_id, account_non_expired, account_non_locked, credentials_non_expired, enabled,
--         name, nickname, sex, birthday, avatar, email, phone_number, address_code, detailed_address, introduction,
        created_by, created_date, last_modified_by, last_modified_date
        from sys_user where id = #{id}
    </select>

    <select id="getJWTUserByUserId" resultMap="JWTUserMap">
        select id, username from sys_user where id = #{id}
    </select>

    <select id="getUserByUsername" resultType="org.shanzhaozhen.uaa.pojo.dto.UserDTO">
        select id, username, password, dep_id, account_non_expired, account_non_locked, credentials_non_expired, enabled,
               name, nickname, sex, birthday, avatar, email, phone_number, address_code, detailed_address, introduction
        from sys_user where username = #{username}
    </select>

    <select id="getUserPage" resultType="org.shanzhaozhen.uaa.pojo.dto.UserDTO">
        select id, username, dep_id, account_non_expired, account_non_locked, credentials_non_expired, enabled,
--         name, nickname, sex, birthday, avatar, email, phone_number, address_code, detailed_address, introduction,
        created_by, created_date, last_modified_by, last_modified_date 
        from sys_user
        <if test="keyword != null and keyword != ''">
            where username like concat ('%', #{keyword}, '%') or name like concat ('%', #{keyword}, '%')
            or nickName like concat ('%', #{keyword}, '%') or introduction like concat ('%', #{keyword}, '%')
        </if>
    </select>

    <select id="getUserPageByRoleId" resultType="org.shanzhaozhen.uaa.pojo.dto.UserDTO">
        select u.id, u.username, u.name, u.nickname, u.dep_id from sys_user u
            left join sys_user_role sur on u.id = sur.user_id
            left join sys_role r on sur.role_id = r.id
        where r.id = #{roleId}
        <if test="keyword != null and keyword != ''">
            and (u.username like concat ('%', #{keyword}, '%') or u.name like concat ('%', #{keyword}, '%')
            or u.nickName like concat ('%', #{keyword}, '%') or u.introduction like concat ('%', #{keyword}, '%'))
        </if>
    </select>

    <select id="getUserPageByDepartmentId" resultType="org.shanzhaozhen.uaa.pojo.dto.UserDTO">
        select id, username, name, nickname, dep_id from sys_user
        where dep_id = #{departmentId}
        <if test="keyword != null and keyword != ''">
            and (username like concat ('%', #{keyword}, '%') or name like concat ('%', #{keyword}, '%')
            or nickName like concat ('%', #{keyword}, '%') or introduction like concat ('%', #{keyword}, '%'))
        </if>
    </select>

</mapper>
