<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shanzhaozhen.basicrepo.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.shanzhaozhen.basiccommon.domain.sys.RoleDO">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="identification" property="identification" />
        <result column="description" property="description" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>

    <resultMap autoMapping="true" type="org.shanzhaozhen.basiccommon.dto.RoleDTO" id="RoleResourceMap">
        <id property="id" column="id"></id>
        <collection property="routes" column="id" select="org.shanzhaozhen.basicrepo.mapper.RouteMapper.getRouteByRoleId">
        </collection>
        <collection property="resources" column="id" select="org.shanzhaozhen.basicrepo.mapper.ResourceMapper.getResourceByRoleId">
        </collection>
    </resultMap>

    <select id="getRoleByRoleId" resultMap="RoleResourceMap">
        select id, name, identification, description,
        created_by, created_date, last_modified_by, last_modified_date
        from sys_role
        where id = #{roleId}
    </select>

</mapper>
