<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shanzhaozhen.authorize.mapper.OAuth2AuthorizationMapper">

    <select id="getOAuth2AuthorizationById" resultType="org.shanzhaozhen.authorize.pojo.dto.OAuth2AuthorizationDTO">
        select id,  registered_client_id,  principal_name, authorization_grant_type, authorized_scopes, attributes, state,
               authorization_code_value, authorization_code_issued_at, authorization_code_expires_at,
               authorization_code_metadata,
               access_token_value, access_token_issued_at, access_token_expires_at, access_token_metadata,
               access_token_type, access_token_scopes,
               oidc_id_token_value, oidc_id_token_issued_at, oidc_id_token_expires_at, oidc_id_token_metadata,
               refresh_token_value, refresh_token_issued_at, refresh_token_expires_at, refresh_token_metadata,
               version, created_by, created_date, last_modified_by, last_modified_date
        from oauth2_authorization
        where id = #{id}
    </select>

    <select id="getOAuth2AuthorizationByToken" resultType="org.shanzhaozhen.authorize.pojo.dto.OAuth2AuthorizationDTO">
        select id,  registered_client_id,  principal_name, authorization_grant_type, authorized_scopes, attributes, state,
               authorization_code_value, authorization_code_issued_at, authorization_code_expires_at,
               authorization_code_metadata,
               access_token_value, access_token_issued_at, access_token_expires_at, access_token_metadata,
               access_token_type, access_token_scopes,
               oidc_id_token_value, oidc_id_token_issued_at, oidc_id_token_expires_at, oidc_id_token_metadata,
               refresh_token_value, refresh_token_issued_at, refresh_token_expires_at, refresh_token_metadata,
               version, created_by, created_date, last_modified_by, last_modified_date
        from oauth2_authorization
        where state = #{token} or authorization_code_value = #{token} or access_token_value = #{token} or refresh_token_value = #{token}
    </select>

    <select id="getOAuth2AuthorizationByState" resultType="org.shanzhaozhen.authorize.pojo.dto.OAuth2AuthorizationDTO">
        select id,  registered_client_id,  principal_name, authorization_grant_type, authorized_scopes, attributes, state,
               authorization_code_value, authorization_code_issued_at, authorization_code_expires_at,
               authorization_code_metadata,
               access_token_value, access_token_issued_at, access_token_expires_at, access_token_metadata,
               access_token_type, access_token_scopes,
               oidc_id_token_value, oidc_id_token_issued_at, oidc_id_token_expires_at, oidc_id_token_metadata,
               refresh_token_value, refresh_token_issued_at, refresh_token_expires_at, refresh_token_metadata,
               version, created_by, created_date, last_modified_by, last_modified_date
        from oauth2_authorization
        where state = #{state}
    </select>

    <select id="getOAuth2AuthorizationByAuthorizationCode" resultType="org.shanzhaozhen.authorize.pojo.dto.OAuth2AuthorizationDTO">
        select id,  registered_client_id,  principal_name, authorization_grant_type, authorized_scopes, attributes, state,
               authorization_code_value, authorization_code_issued_at, authorization_code_expires_at,
               authorization_code_metadata,
               access_token_value, access_token_issued_at, access_token_expires_at, access_token_metadata,
               access_token_type, access_token_scopes,
               oidc_id_token_value, oidc_id_token_issued_at, oidc_id_token_expires_at, oidc_id_token_metadata,
               refresh_token_value, refresh_token_issued_at, refresh_token_expires_at, refresh_token_metadata,
               version, created_by, created_date, last_modified_by, last_modified_date
        from oauth2_authorization
        where authorization_code_value = #{authorizationCode}
    </select>

    <select id="getOAuth2AuthorizationByAccessToken" resultType="org.shanzhaozhen.authorize.pojo.dto.OAuth2AuthorizationDTO">
        select id, registered_client_id, principal_name, authorization_grant_type, authorized_scopes, attributes, state,
               authorization_code_value, authorization_code_issued_at, authorization_code_expires_at,
               authorization_code_metadata,
               access_token_value, access_token_issued_at, access_token_expires_at, access_token_metadata,
               access_token_type, access_token_scopes,
               oidc_id_token_value, oidc_id_token_issued_at, oidc_id_token_expires_at, oidc_id_token_metadata,
               refresh_token_value, refresh_token_issued_at, refresh_token_expires_at, refresh_token_metadata,
               version, created_by, created_date, last_modified_by, last_modified_date
        from oauth2_authorization
        where access_token_value = #{accessToken}
    </select>

    <select id="getOAuth2AuthorizationByRefreshToken" resultType="org.shanzhaozhen.authorize.pojo.dto.OAuth2AuthorizationDTO">
        select id,  registered_client_id,  principal_name, authorization_grant_type, authorized_scopes, attributes, state,
               authorization_code_value, authorization_code_issued_at, authorization_code_expires_at,
               authorization_code_metadata,
               access_token_value, access_token_issued_at, access_token_expires_at, access_token_metadata,
               access_token_type, access_token_scopes,
               oidc_id_token_value, oidc_id_token_issued_at, oidc_id_token_expires_at, oidc_id_token_metadata,
               refresh_token_value, refresh_token_issued_at, refresh_token_expires_at, refresh_token_metadata,
               version, created_by, created_date, last_modified_by, last_modified_date
        from oauth2_authorization
        where refresh_token_value = #{refreshToken}
    </select>

</mapper>
